In [ ]:
#numerical problems

In [ ]:
1.problem 1

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("auto-mpg.csv")
print(df.head())
print(df.to_string())
mpg_array = df['mpg'].to_numpy()
mean_mpg = np.mean(mpg_array)
median_mpg = np.median(mpg_array)
std_mpg = np.std(mpg_array)
num_cars_above_25 = np.sum(mpg_array > 25)
print("Mean MPG:", mean_mpg)
print("Median MPG:", median_mpg)
print("Standard Deviation of MPG:", std_mpg)
print("Number of cars with MPG > 25:", num_cars_above_25)

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
      mpg  cylinders  displacement horsepower  weight  acceleration  model year  origin                              car name
0    18.0          8         307.0        130    3504          12.0          70       1             chevrolet chevelle malibu
1    15.0          8         350.0        165    3693          11.5          70       1                     buick skylark 320
2    18.0          8         318.0        150    3436          11.0          70       1                    plymouth satellite
3    16.0          8         304.0        150    3433          12.0          70       1                         amc rebel sst
4    17.0          8         302.0        140    3449          10.5          70       1                           ford torino
5    15.0          8         429.0        198    4341          10.0          70       1                      ford galaxie 500
6    14.0          8         454.0        220    4354           9.0          70       1                      chevrolet impala
7    14.0          8         440.0        215    4312           8.5          70       1                     plymouth fury iii
8    14.0          8         455.0        225    4425          10.0          70       1                      pontiac catalina
9    15.0          8         390.0        190    3850           8.5          70       1                    amc ambassador dpl
10   15.0          8         383.0        170    3563          10.0          70       1                   dodge challenger se
11   14.0          8         340.0        160    3609           8.0          70       1                    plymouth 'cuda 340
12   15.0          8         400.0        150    3761           9.5          70       1                 chevrolet monte carlo
13   14.0          8         455.0        225    3086          10.0          70       1               buick estate wagon (sw)
14   24.0          4         113.0         95    2372          15.0          70       3                 toyota corona mark ii
15   22.0          6         198.0         95    2833          15.5          70       1                       plymouth duster
16   18.0          6         199.0         97    2774          15.5          70       1                            amc hornet
17   21.0          6         200.0         85    2587          16.0          70       1                         ford maverick
18   27.0          4          97.0         88    2130          14.5          70       3                          datsun pl510
19   26.0          4          97.0         46    1835          20.5          70       2          volkswagen 1131 deluxe sedan
20   25.0          4         110.0         87    2672          17.5          70       2                           peugeot 504
21   24.0          4         107.0         90    2430          14.5          70       2                           audi 100 ls
22   25.0          4         104.0         95    2375          17.5          70       2                              saab 99e
23   26.0          4         121.0        113    2234          12.5          70       2                              bmw 2002
24   21.0          6         199.0         90    2648          15.0          70       1                           amc gremlin
25   10.0          8         360.0        215    4615          14.0          70       1                             ford f250
26   10.0          8         307.0        200    4376          15.0          70       1                             chevy c20
27   11.0          8         318.0        210    4382          13.5          70       1                            dodge d200
28    9.0          8         304.0        193    4732          18.5          70       1                              hi 1200d
29   27.0          4          97.0         88    2130          14.5          71       3                          datsun pl510
30   28.0          4         140.0         90    2264          15.5          71       1                   chevrolet vega 2300
31   25.0          4         113.0         95    2228          14.0          71       3                         toyota corona
32   25.0          4          98.0          ?    2046          19.0          71       1                            ford pinto
33   19.0          6         232.0        100    2634          13.0          71       1                           amc gremlin
34   16.0          6         225.0        105    3439          15.5          71       1             plymouth satellite custom
35   17.0          6         250.0        100    3329          15.5          71       1             chevrolet chevelle malibu
36   19.0          6         250.0         88    3302          15.5          71       1                       ford torino 500
37   18.0          6         232.0        100    3288          15.5          71       1                           amc matador
38   14.0          8         350.0        165    4209          12.0          71       1                      chevrolet impala
39   14.0          8         400.0        175    4464          11.5          71       1             pontiac catalina brougham
40   14.0          8         351.0        153    4154          13.5          71       1                      ford galaxie 500
41   14.0          8         318.0        150    4096          13.0          71       1                     plymouth fury iii
42   12.0          8         383.0        180    4955          11.5          71       1                     dodge monaco (sw)
43   13.0          8         400.0        170    4746          12.0          71       1              ford country squire (sw)
44   13.0          8         400.0        175    5140          12.0          71       1                   pontiac safari (sw)
45   18.0          6         258.0        110    2962          13.5          71       1            amc hornet sportabout (sw)
46   22.0          4         140.0         72    2408          19.0          71       1                   chevrolet vega (sw)
47   19.0          6         250.0        100    3282          15.0          71       1                      pontiac firebird
48   18.0          6         250.0         88    3139          14.5          71       1                          ford mustang
49   23.0          4         122.0         86    2220          14.0          71       1                    mercury capri 2000
50   28.0          4         116.0         90    2123          14.0          71       2                             opel 1900
51   30.0          4          79.0         70    2074          19.5          71       2                           peugeot 304
52   30.0          4          88.0         76    2065          14.5          71       2                             fiat 124b
53   31.0          4          71.0         65    1773          19.0          71       3                   toyota corolla 1200
54   35.0          4          72.0         69    1613          18.0          71       3                           datsun 1200
55   27.0          4          97.0         60    1834          19.0          71       2                  volkswagen model 111
56   26.0          4          91.0         70    1955          20.5          71       1                      plymouth cricket
57   24.0          4         113.0         95    2278          15.5          72       3                 toyota corona hardtop
58   25.0          4          97.5         80    2126          17.0          72       1                    dodge colt hardtop
59   23.0          4          97.0         54    2254          23.5          72       2                     volkswagen type 3
60   20.0          4         140.0         90    2408          19.5          72       1                        chevrolet vega
61   21.0          4         122.0         86    2226          16.5          72       1                   ford pinto runabout
62   13.0          8         350.0        165    4274          12.0          72       1                      chevrolet impala
63   14.0          8         400.0        175    4385          12.0          72       1                      pontiac catalina
64   15.0          8         318.0        150    4135          13.5          72       1                     plymouth fury iii
65   14.0          8         351.0        153    4129          13.0          72       1                      ford galaxie 500
66   17.0          8         304.0        150    3672          11.5          72       1                    amc ambassador sst
67   11.0          8         429.0        208    4633          11.0          72       1                       mercury marquis
68   13.0          8         350.0        155    4502          13.5          72       1                  buick lesabre custom
69   12.0          8         350.0        160    4456          13.5          72       1            oldsmobile delta 88 royale
70   13.0          8         400.0        190    4422          12.5          72       1                chrysler newport royal
71   19.0          3          70.0         97    2330          13.5          72       3                       mazda rx2 coupe
72   15.0          8         304.0        150    3892          12.5          72       1                      amc matador (sw)
73   13.0          8         307.0        130    4098          14.0          72       1      chevrolet chevelle concours (sw)
74   13.0          8         302.0        140    4294          16.0          72       1                 ford gran torino (sw)
75   14.0          8         318.0        150    4077          14.0          72       1        plymouth satellite custom (sw)
76   18.0          4         121.0        112    2933          14.5          72       2                       volvo 145e (sw)
77   22.0          4         121.0         76    2511          18.0          72       2                   volkswagen 411 (sw)
78   21.0          4         120.0         87    2979          19.5          72       2                      peugeot 504 (sw)
79   26.0          4          96.0         69    2189          18.0          72       2                       renault 12 (sw)
80   22.0          4         122.0         86    2395          16.0          72       1                       ford pinto (sw)
81   28.0          4          97.0         92    2288          17.0          72       3                       datsun 510 (sw)
82   23.0          4         120.0         97    2506          14.5          72       3           toyouta corona mark ii (sw)
83   28.0          4          98.0         80    2164          15.0          72       1                       dodge colt (sw)
84   27.0          4          97.0         88    2100          16.5          72       3              toyota corolla 1600 (sw)
85   13.0          8         350.0        175    4100          13.0          73       1                     buick century 350
86   14.0          8         304.0        150    3672          11.5          73       1                           amc matador
87   13.0          8         350.0        145    3988          13.0          73       1                      chevrolet malibu
88   14.0          8         302.0        137    4042          14.5          73       1                      ford gran torino
89   15.0          8         318.0        150    3777          12.5          73       1                  dodge coronet custom
90   12.0          8         429.0        198    4952          11.5          73       1              mercury marquis brougham
91   13.0          8         400.0        150    4464          12.0          73       1             chevrolet caprice classic
92   13.0          8         351.0        158    4363          13.0          73       1                              ford ltd
93   14.0          8         318.0        150    4237          14.5          73       1              plymouth fury gran sedan
94   13.0          8         440.0        215    4735          11.0          73       1          chrysler new yorker brougham
95   12.0          8         455.0        225    4951          11.0          73       1              buick electra 225 custom
96   13.0          8         360.0        175    3821          11.0          73       1               amc ambassador brougham
97   18.0          6         225.0        105    3121          16.5          73       1                      plymouth valiant
98   16.0          6         250.0        100    3278          18.0          73       1                 chevrolet nova custom
99   18.0          6         232.0        100    2945          16.0          73       1                            amc hornet
100  18.0          6         250.0         88    3021          16.5          73       1                         ford maverick
101  23.0          6         198.0         95    2904          16.0          73       1                       plymouth duster
102  26.0          4          97.0         46    1950          21.0          73       2               volkswagen super beetle
103  11.0          8         400.0        150    4997          14.0          73       1                      chevrolet impala
104  12.0          8         400.0        167    4906          12.5          73       1                          ford country
105  13.0          8         360.0        170    4654          13.0          73       1                plymouth custom suburb
106  12.0          8         350.0        180    4499          12.5          73       1              oldsmobile vista cruiser
107  18.0          6         232.0        100    2789          15.0          73       1                           amc gremlin
108  20.0          4          97.0         88    2279          19.0          73       3                         toyota carina
109  21.0          4         140.0         72    2401          19.5          73       1                        chevrolet vega
110  22.0          4         108.0         94    2379          16.5          73       3                            datsun 610
111  18.0          3          70.0         90    2124          13.5          73       3                             maxda rx3
112  19.0          4         122.0         85    2310          18.5          73       1                            ford pinto
113  21.0          6         155.0        107    2472          14.0          73       1                      mercury capri v6
114  26.0          4          98.0         90    2265          15.5          73       2                  fiat 124 sport coupe
115  15.0          8         350.0        145    4082          13.0          73       1               chevrolet monte carlo s
116  16.0          8         400.0        230    4278           9.5          73       1                    pontiac grand prix
117  29.0          4          68.0         49    1867          19.5          73       2                              fiat 128
118  24.0          4         116.0         75    2158          15.5          73       2                            opel manta
119  20.0          4         114.0         91    2582          14.0          73       2                            audi 100ls
120  19.0          4         121.0        112    2868          15.5          73       2                           volvo 144ea
121  15.0          8         318.0        150    3399          11.0          73       1                     dodge dart custom
122  24.0          4         121.0        110    2660          14.0          73       2                             saab 99le
123  20.0          6         156.0        122    2807          13.5          73       3                        toyota mark ii
124  11.0          8         350.0        180    3664          11.0          73       1                      oldsmobile omega
125  20.0          6         198.0         95    3102          16.5          74       1                       plymouth duster
126  21.0          6         200.0          ?    2875          17.0          74       1                         ford maverick
127  19.0          6         232.0        100    2901          16.0          74       1                            amc hornet
128  15.0          6         250.0        100    3336          17.0          74       1                        chevrolet nova
129  31.0          4          79.0         67    1950          19.0          74       3                           datsun b210
130  26.0          4         122.0         80    2451          16.5          74       1                            ford pinto
131  32.0          4          71.0         65    1836          21.0          74       3                   toyota corolla 1200
132  25.0          4         140.0         75    2542          17.0          74       1                        chevrolet vega
133  16.0          6         250.0        100    3781          17.0          74       1     chevrolet chevelle malibu classic
134  16.0          6         258.0        110    3632          18.0          74       1                           amc matador
135  18.0          6         225.0        105    3613          16.5          74       1            plymouth satellite sebring
136  16.0          8         302.0        140    4141          14.0          74       1                      ford gran torino
137  13.0          8         350.0        150    4699          14.5          74       1              buick century luxus (sw)
138  14.0          8         318.0        150    4457          13.5          74       1             dodge coronet custom (sw)
139  14.0          8         302.0        140    4638          16.0          74       1                 ford gran torino (sw)
140  14.0          8         304.0        150    4257          15.5          74       1                      amc matador (sw)
141  29.0          4          98.0         83    2219          16.5          74       2                              audi fox
142  26.0          4          79.0         67    1963          15.5          74       2                     volkswagen dasher
143  26.0          4          97.0         78    2300          14.5          74       2                            opel manta
144  31.0          4          76.0         52    1649          16.5          74       3                         toyota corona
145  32.0          4          83.0         61    2003          19.0          74       3                            datsun 710
146  28.0          4          90.0         75    2125          14.5          74       1                            dodge colt
147  24.0          4          90.0         75    2108          15.5          74       2                              fiat 128
148  26.0          4         116.0         75    2246          14.0          74       2                           fiat 124 tc
149  24.0          4         120.0         97    2489          15.0          74       3                           honda civic
150  26.0          4         108.0         93    2391          15.5          74       3                                subaru
151  31.0          4          79.0         67    2000          16.0          74       2                             fiat x1.9

In [ ]:
#problem 2

In [15]:
cylinders_array = df["cylinders"].to_numpy()
filtered_indices = np.where(cylinders_array > 6)
car_names = df["car name"].to_numpy()[filtered_indices]
car_names_list = car_names.tolist()
print(car_names_list)

['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se', "plymouth 'cuda 340", 'chevrolet monte carlo', 'buick estate wagon (sw)', 'ford f250', 'chevy c20', 'dodge d200', 'hi 1200d', 'chevrolet impala', 'pontiac catalina brougham', 'ford galaxie 500', 'plymouth fury iii', 'dodge monaco (sw)', 'ford country squire (sw)', 'pontiac safari (sw)', 'chevrolet impala', 'pontiac catalina', 'plymouth fury iii', 'ford galaxie 500', 'amc ambassador sst', 'mercury marquis', 'buick lesabre custom', 'oldsmobile delta 88 royale', 'chrysler newport royal', 'amc matador (sw)', 'chevrolet chevelle concours (sw)', 'ford gran torino (sw)', 'plymouth satellite custom (sw)', 'buick century 350', 'amc matador', 'chevrolet malibu', 'ford gran torino', 'dodge coronet custom', 'mercury marquis brougham', 'chevrolet caprice classic', 'ford ltd', 'plymouth fury gran sedan', 'chrysler new yorker brougham', 'buick electra 225 custom', 'amc ambassador brougham', 'chevrolet impala', 'ford country', 'plymouth custom suburb', 'oldsmobile vista cruiser', 'chevrolet monte carlo s', 'pontiac grand prix', 'dodge dart custom', 'oldsmobile omega', 'ford gran torino', 'buick century luxus (sw)', 'dodge coronet custom (sw)', 'ford gran torino (sw)', 'amc matador (sw)', 'pontiac catalina', 'chevrolet bel air', 'plymouth grand fury', 'ford ltd', 'chevrolet monza 2+2', 'ford mustang ii', 'chevrolet chevelle malibu classic', 'dodge coronet brougham', 'amc matador', 'ford gran torino', 'plymouth volare premier v8', 'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100', 'chevrolet caprice classic', 'oldsmobile cutlass supreme', 'dodge monaco brougham', 'mercury cougar brougham', 'pontiac grand prix lj', 'chevrolet monte carlo landau', 'chrysler cordoba', 'ford thunderbird', 'oldsmobile cutlass salon brougham', 'dodge diplomat', 'mercury monarch ghia', 'chevrolet monte carlo landau', 'ford futura', 'dodge magnum xe', 'chevrolet caprice classic', 'ford ltd landau', 'mercury grand marquis', 'dodge st. regis', 'buick estate wagon (sw)', 'ford country squire (sw)', 'chevrolet malibu classic (sw)', 'chrysler lebaron town @ country (sw)', 'cadillac eldorado', 'oldsmobile cutlass salon brougham', 'oldsmobile cutlass ls']

In [ ]:
#problem 3

In [17]:
weight_array = df["weight"].to_numpy()
percentile_25 = np.percentile(weight_array, 25)
percentile_50 = np.percentile(weight_array, 50)
percentile_75 = np.percentile(weight_array, 75)

25th Percentile of Weight: 2223.75
50th Percentile (Median) of Weight: 2803.5
75th Percentile of Weight: 3608.0

In [ ]:
#problem 3

In [18]:
print("25th Percentile of Weight:", percentile_25)
print("50th Percentile (Median) of Weight:", percentile_50)
print("75th Percentile of Weight:", percentile_75)

25th Percentile of Weight: 2223.75
50th Percentile (Median) of Weight: 2803.5
75th Percentile of Weight: 3608.0

In [ ]:
#problem 4

In [8]:
acceleration_array = df["acceleration"].to_numpy()
min_val = np.min(acceleration_array)
max_val = np.max(acceleration_array)
normalized_acceleration = (acceleration_array - min_val) / (max_val - min_val)
print(normalized_acceleration[:10])

[0.23809524 0.20833333 0.17857143 0.23809524 0.14880952 0.11904762
 0.05952381 0.0297619  0.11904762 0.0297619 ]

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("auto-mpg.csv")
acceleration_array = df['acceleration'].to_numpy()
acceleration_normalized = (acceleration_array - acceleration_array.min()) / (acceleration_array.max() - acceleration_array.min())
print("Normalized Acceleration Values:")
print(acceleration_normalized)

Normalized Acceleration Values:
[0.23809524 0.20833333 0.17857143 0.23809524 0.14880952 0.11904762
 0.05952381 0.0297619  0.11904762 0.0297619  0.11904762 0.
 0.08928571 0.11904762 0.41666667 0.44642857 0.44642857 0.47619048
 0.38690476 0.74404762 0.56547619 0.38690476 0.56547619 0.26785714
 0.41666667 0.35714286 0.41666667 0.32738095 0.625      0.38690476
 0.44642857 0.35714286 0.6547619  0.29761905 0.44642857 0.44642857
 0.44642857 0.44642857 0.23809524 0.20833333 0.32738095 0.29761905
 0.20833333 0.23809524 0.23809524 0.32738095 0.6547619  0.41666667
 0.38690476 0.35714286 0.35714286 0.68452381 0.38690476 0.6547619
 0.5952381  0.6547619  0.74404762 0.44642857 0.53571429 0.92261905
 0.68452381 0.50595238 0.23809524 0.23809524 0.32738095 0.29761905
 0.20833333 0.17857143 0.32738095 0.32738095 0.26785714 0.32738095
 0.26785714 0.35714286 0.47619048 0.35714286 0.38690476 0.5952381
 0.68452381 0.5952381  0.47619048 0.53571429 0.38690476 0.41666667
 0.50595238 0.29761905 0.20833333 0.29761905 0.38690476 0.26785714
 0.20833333 0.23809524 0.29761905 0.38690476 0.17857143 0.17857143
 0.17857143 0.50595238 0.5952381  0.47619048 0.50595238 0.47619048
 0.77380952 0.35714286 0.26785714 0.29761905 0.26785714 0.41666667
 0.6547619  0.68452381 0.50595238 0.32738095 0.625      0.35714286
 0.44642857 0.29761905 0.08928571 0.68452381 0.44642857 0.35714286
 0.44642857 0.17857143 0.35714286 0.32738095 0.17857143 0.50595238
 0.53571429 0.47619048 0.53571429 0.6547619  0.50595238 0.77380952
 0.53571429 0.53571429 0.5952381  0.50595238 0.35714286 0.38690476
 0.32738095 0.47619048 0.44642857 0.50595238 0.44642857 0.38690476
 0.50595238 0.6547619  0.38690476 0.44642857 0.35714286 0.41666667
 0.44642857 0.47619048 0.47619048 0.47619048 0.77380952 0.68452381
 0.20833333 0.35714286 0.38690476 0.32738095 0.77380952 0.625
 0.6547619  0.6547619  0.41666667 0.32738095 0.23809524 0.47619048
 0.53571429 0.47619048 0.625      0.32738095 0.50595238 0.53571429
 0.38690476 0.35714286 0.53571429 0.41666667 0.53571429 0.38690476
 0.32738095 0.56547619 0.44642857 0.5297619  0.41071429 0.57738095
 0.43452381 0.29761905 0.29761905 0.35119048 0.28571429 0.44047619
 0.38690476 0.57142857 0.57142857 0.8452381  0.83928571 0.36904762
 0.55952381 0.57738095 0.77380952 0.48809524 0.58333333 0.25
 0.53571429 0.5        0.33333333 0.45833333 0.30952381 0.82738095
 0.44642857 0.51785714 0.24404762 0.23809524 0.41666667 0.35714286
 0.625      0.4047619  0.63095238 0.44642857 0.52380952 0.26785714
 0.6547619  0.33928571 0.41071429 0.5        0.5297619  0.57738095
 0.6547619  0.18452381 0.20238095 0.25       0.38690476 0.38690476
 0.47619048 0.60714286 0.46428571 0.53571429 0.4702381  0.5
 0.36309524 0.38690476 0.28571429 0.32738095 0.80357143 0.38095238
 0.67857143 0.63095238 0.5        0.44642857 0.30952381 0.28571429
 0.66666667 0.60714286 0.46428571 0.44047619 0.54761905 0.54761905
 0.46428571 0.51785714 0.63690476 0.42261905 0.30952381 0.32142857
 0.19047619 0.33928571 0.50595238 0.36904762 0.39880952 0.38690476
 0.4047619  0.51785714 0.57142857 0.41071429 0.4702381  0.33333333
 0.45833333 0.46428571 0.41071429 0.51190476 0.44047619 0.60714286
 0.55357143 0.60714286 0.51190476 0.44047619 0.32142857 0.30952381
 0.42857143 0.41071429 0.375      0.41666667 0.29761905 0.35714286
 0.42857143 0.38095238 0.41666667 0.7202381  0.55952381 1.
 0.8452381  0.30952381 0.41071429 0.66666667 0.39880952 0.47619048
 0.19642857 0.29166667 0.30952381 0.39880952 0.64285714 0.44642857
 0.5        0.50595238 0.60119048 0.7202381  0.63690476 0.46428571
 0.44642857 0.56547619 0.41666667 0.42857143 0.58928571 0.38095238
 0.66666667 0.81547619 0.93452381 0.70833333 0.82142857 0.3452381
 0.55357143 0.5952381  0.43452381 0.20238095 0.26785714 0.42261905
 0.375      0.53571429 0.45833333 0.5        0.38095238 0.27380952
 0.29166667 0.5297619  0.5        0.48214286 0.58333333 0.67857143
 0.55357143 0.47619048 0.41071429 0.48809524 0.75595238 0.36904762
 0.46428571 0.38095238 0.52380952 0.4047619  0.61309524 0.73809524
 0.69047619 0.27380952 0.3452381  0.46428571 0.6547619  0.54166667
 0.51190476 0.69047619 0.63095238 0.5952381  0.48809524 0.47619048
 0.5952381  0.5        0.74404762 0.43452381 0.60714286 0.57142857
 0.39880952 0.55357143 0.38690476 0.38690476 0.5297619  0.41666667
 0.45833333 0.48809524 0.5        0.53571429 0.38690476 0.39880952
 0.35119048 0.29761905 0.55357143 0.45238095 0.98809524 0.21428571
 0.63095238 0.67857143]

#problem 5

In [9]:
import pandas as pd
import numpy as np
data = pd.read_csv("auto-mpg.csv")
data['horsepower'] = pd.to_numeric(data['horsepower'], errors='coerce')
horsepower_array = data['horsepower'].to_numpy()
hp_mean = np.nanmean(horsepower_array)
horsepower_no_nan = np.where(np.isnan(horsepower_array), hp_mean, horsepower_array)
horsepower_increased = horsepower_no_nan * 1.10
print("First 5 horsepower values (after replacing NaN):", horsepower_no_nan[:5])
print("First 5 increased horsepower values (+10%):", horsepower_increased[:5])

First 5 horsepower values (after replacing NaN): [130. 165. 150. 150. 140.]
First 5 increased horsepower values (+10%): [143.  181.5 165.  165.  154. ]

In [ ]:
#problem 6

In [23]:
df["origin"] = pd.to_numeric(df["origin"], errors="coerce")
displacement_array = df["displacement"].to_numpy()
origin_array = df["origin"].to_numpy()
european_cars_displacement = displacement_array[origin_array == 2]
average_displacement = np.mean(european_cars_displacement)
print("Average displacement of European cars:", average_displacement)

Average displacement of European cars: 109.14285714285714

In [ ]:
#problem 7

In [24]:
df["horsepower"] = pd.to_numeric(df["horsepower"], errors="coerce")
df["horsepower"].fillna(df["horsepower"].mean(), inplace=True)
data_matrix = df[["mpg", "horsepower", "weight"]].to_numpy()
vector = np.array([1, 0.5, -0.2])
dot_product_result = np.dot(data_matrix, vector)
print("First 5 dot product values:\n", dot_product_result[:5])

First 5 dot product values:
 [-617.8 -641.1 -594.2 -595.6 -602.8]

In [ ]:
#problem 8

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv("auto-mpg.csv")
df.columns = df.columns.str.strip()
model_year_array = df['model year'].to_numpy()  
sorted_indices = np.argsort(-model_year_array)
top_car_names = df['car name'].iloc[sorted_indices]
print("Top 5 cars with the newest model years:")
print(top_car_names.head())

Top 5 cars with the newest model years:
397                    chevy s-10
367            chevrolet cavalier
368      chevrolet cavalier wagon
369     chevrolet cavalier 2-door
370    pontiac j2000 se hatchback
Name: car name, dtype: object

In [ ]:
problem 9

In [38]:
import numpy as np
import pandas as pd
file_path = "auto-mpg.csv"  
mpg_array = df["mpg"].to_numpy()
weight_array = df["weight"].to_numpy()
correlation_coefficient = np.corrcoef(mpg_array, weight_array)[0, 1]
print("Pearson correlation coefficient between mpg and weight:", correlation_coefficient)

Pearson correlation coefficient between mpg and weight: -0.8317409332443352

In [ ]:
problem 10

In [39]:
import numpy as np
import pandas as pd
file_path = "auto-mpg.csv" 
df = pd.read_csv(file_path)
mpg_array = df["mpg"].to_numpy()
cylinders_array = df["cylinders"].to_numpy()
unique_cylinders = np.unique(cylinders_array)
for cyl in unique_cylinders:
    mean_mpg = np.mean(mpg_array[cylinders_array == cyl])
    print(f"Mean MPG for {cyl} cylinders: {mean_mpg:.2f}")

Mean MPG for 3 cylinders: 20.55
Mean MPG for 4 cylinders: 29.29
Mean MPG for 5 cylinders: 27.37
Mean MPG for 6 cylinders: 19.99
Mean MPG for 8 cylinders: 14.96

In [ ]:
#pandas

In [ ]:
problem 1

In [40]:
import pandas as pd
file_path = "auto-mpg.csv"
df = pd.read_csv(file_path)
print("First 10 rows of the dataset:")
print(df.head(10))
print("\nTotal number of rows and columns:")
print(df.shape)
print("\nSummary statistics for numerical columns:")
print(df.describe())

First 10 rows of the dataset:
    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70
5  15.0          8         429.0        198    4341          10.0          70
6  14.0          8         454.0        220    4354           9.0          70
7  14.0          8         440.0        215    4312           8.5          70
8  14.0          8         455.0        225    4425          10.0          70
9  15.0          8         390.0        190    3850           8.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
5       1           ford galaxie 500
6       1           chevrolet impala
7       1          plymouth fury iii
8       1           pontiac catalina
9       1         amc ambassador dpl

Total number of rows and columns:
(398, 9)

Summary statistics for numerical columns:
              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

In [ ]:
problem 2

In [1]:
import pandas as pd
file_path = "auto-mpg.csv"
df = pd.read_csv(file_path)
df_1975 = df[df["model year"] == 75]
df_filtered = df_1975[df_1975["weight"] < 3000]
df_result = df_filtered[["car name", "weight", "mpg"]]
print(df_result)

              car name  weight   mpg
167     toyota corolla    2171  29.0
168         ford pinto    2639  23.0
169        amc gremlin    2914  20.0
170      pontiac astro    2592  23.0
171      toyota corona    2702  24.0
172  volkswagen dasher    2223  25.0
173         datsun 710    2545  24.0
174         ford pinto    2984  18.0
175  volkswagen rabbit    1937  29.0
177         audi 100ls    2694  23.0
178        peugeot 504    2957  23.0
179        volvo 244dl    2945  22.0
180          saab 99le    2671  25.0
181   honda civic cvcc    1795  33.0

In [ ]:
problem 3

In [2]:
import pandas as pd
file_path = "auto-mpg.csv" 
df = pd.read_csv(file_path)
print("Missing values before handling:\n", df.isnull().sum())
df["horsepower"] = pd.to_numeric(df["horsepower"], errors="coerce")
median_hp = df["horsepower"].median()
df["horsepower"].fillna(median_hp, inplace=True)
print("\nMissing values after handling:\n", df.isnull().sum())

Missing values before handling:
 mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

Missing values after handling:
 mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
problem 4

In [3]:
import pandas as pd
file_path = "auto-mpg.csv" 
df = pd.read_csv(file_path)
df["horsepower"] = pd.to_numeric(df["horsepower"], errors="coerce")
median_hp = df["horsepower"].median()
df["horsepower"].fillna(median_hp, inplace=True)
df["power_to_weight_ratio"] = df["horsepower"] / df["weight"]
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model year  origin                   car name  power_to_weight_ratio
0          70       1  chevrolet chevelle malibu               0.037100
1          70       1          buick skylark 320               0.044679
2          70       1         plymouth satellite               0.043655
3          70       1              amc rebel sst               0.043694
4          70       1                ford torino               0.040591

In [ ]:
problem 5

In [4]:
import pandas as pd
file_path = "auto-mpg.csv"
df = pd.read_csv(file_path)
mean_mpg_by_origin = df.groupby("origin")["mpg"].mean()
print("Mean MPG by Origin:\n", mean_mpg_by_origin)
df_sorted = df.sort_values(by="mpg", ascending=False)
top_10_mpg_cars = df_sorted[["car name", "mpg"]].head(10)
print("\nTop 10 Cars with Highest MPG:\n", top_10_mpg_cars)

Mean MPG by Origin:
 origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

Top 10 Cars with Highest MPG:
                             car name   mpg
322                        mazda glc  46.6
329              honda civic 1500 gl  44.6
325             vw rabbit c (diesel)  44.3
394                        vw pickup  44.0
326               vw dasher (diesel)  43.4
244  volkswagen rabbit custom diesel  43.1
309                        vw rabbit  41.5
330             renault lecar deluxe  40.9
324                       datsun 210  40.8
247                   datsun b210 gx  39.4

In [ ]:
problem 6,7

In [12]:
import pandas as pd
df = pd.read_csv("auto-mpg.csv")
df.columns = df.columns.str.strip()
df['mpg'] = pd.to_numeric(df['mpg'], errors='coerce')
df['acceleration'] = pd.to_numeric(df['acceleration'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')
top_mpg_cars = df.sort_values(by='mpg', ascending=False)
print("Top 10 cars with highest MPG:")
print(top_mpg_cars[['car name', 'mpg']].head(10))
def performance_score(row):
    return row['mpg'] * row['acceleration'] / row['weight']
df['performance_score'] = df.apply(performance_score, axis=1)
print("\nSample rows with performance_score:")
print(df[['car name', 'mpg', 'acceleration', 'weight', 'performance_score']].head())

Top 10 cars with highest MPG:
                            car name   mpg
322                        mazda glc  46.6
329              honda civic 1500 gl  44.6
325             vw rabbit c (diesel)  44.3
394                        vw pickup  44.0
326               vw dasher (diesel)  43.4
244  volkswagen rabbit custom diesel  43.1
309                        vw rabbit  41.5
330             renault lecar deluxe  40.9
324                       datsun 210  40.8
247                   datsun b210 gx  39.4

Sample rows with performance_score:
                    car name   mpg  acceleration  weight  performance_score
0  chevrolet chevelle malibu  18.0          12.0    3504           0.061644
1          buick skylark 320  15.0          11.5    3693           0.046710
2         plymouth satellite  18.0          11.0    3436           0.057625
3              amc rebel sst  16.0          12.0    3433           0.055928
4                ford torino  17.0          10.5    3449           0.051754

In [5]:
import pandas as pd
df = pd.read_csv("auto-mpg.csv")
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
summary_df = df.groupby('model year')[['mpg', 'weight', 'horsepower']].mean().reset_index()
summary_df = summary_df.round(2)
print(summary_df)

    model year    mpg   weight  horsepower
0           70  17.69  3372.79      147.83
1           71  21.25  2995.43      107.04
2           72  18.71  3237.71      120.18
3           73  17.10  3419.02      130.48
4           74  22.70  2877.93       94.23
5           75  20.27  3176.80      101.07
6           76  21.57  3078.74      101.12
7           77  23.38  2997.36      105.07
8           78  24.06  2861.81       99.69
9           79  25.09  3055.34      101.21
10          80  33.70  2436.66       77.48
11          81  30.33  2522.93       81.04
12          82  31.71  2453.55       81.47

In [ ]:
#program 8

In [5]:
import pandas as pd
file_path = "auto-mpg.csv" 
df = pd.read_csv(file_path)
def performance_score(row):
    return (row["mpg"] * row["acceleration"]) / row["weight"]
df["performance_score"] = df.apply(performance_score, axis=1)
print(df[["car name", "mpg", "acceleration", "weight", "performance_score"]].head())

                    car name   mpg  acceleration  weight  performance_score
0  chevrolet chevelle malibu  18.0          12.0    3504           0.061644
1          buick skylark 320  15.0          11.5    3693           0.046710
2         plymouth satellite  18.0          11.0    3436           0.057625
3              amc rebel sst  16.0          12.0    3433           0.055928
4                ford torino  17.0          10.5    3449           0.051754

In [ ]:
problem 8

In [3]:
import pandas as pd
df = pd.read_csv("auto-mpg.csv")
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
summary_df = df.groupby('model year')[['mpg', 'weight', 'horsepower']].mean().reset_index()
summary_df = summary_df.round(2)
print(summary_df)

    model year    mpg   weight  horsepower
0           70  17.69  3372.79      147.83
1           71  21.25  2995.43      107.04
2           72  18.71  3237.71      120.18
3           73  17.10  3419.02      130.48
4           74  22.70  2877.93       94.23
5           75  20.27  3176.80      101.07
6           76  21.57  3078.74      101.12
7           77  23.38  2997.36      105.07
8           78  24.06  2861.81       99.69
9           79  25.09  3055.34      101.21
10          80  33.70  2436.66       77.48
11          81  30.33  2522.93       81.04
12          82  31.71  2453.55       81.47

In [ ]:
problem 9,10

In [7]:
import pandas as pd
file_path = "auto-mpg.csv"
df = pd.read_csv(file_path)
df["horsepower"] = pd.to_numeric(df["horsepower"], errors="coerce")
df["horsepower"].fillna(df["horsepower"].median(), inplace=True)
high_mpg_cars = df[df["mpg"] > 30][["mpg", "cylinders", "horsepower", "weight"]]
high_mpg_cars.to_csv("high_mpg_cars.csv", index=False)
print("high_mpg_cars.csv has been saved!")
Q1 = df["mpg"].quantile(0.25)  
Q3 = df["mpg"].quantile(0.75) 
IQR = Q3 - Q1 
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df["mpg"] < lower_bound) | (df["mpg"] > upper_bound)]
print("\nPotential outliers in mpg column:")
print(outliers[["car name", "mpg"]])

high_mpg_cars.csv has been saved!

Potential outliers in mpg column:
      car name   mpg
322  mazda glc  46.6